<select class="form-control">
    <option value="">All</option>
    <option value="64758502f33b3f6cf4952ebe">Super Admin</option>
    <option value="647845ec7270d76f8cf332a2">Jamal Ahmad</option>
    <option value="6479407e0101055e7047387b">Ali Nawaz</option>
    <option value="647e9b8fe494002ff4df0aea">Ali Ammar</option>
    <option value="647ea359e494002ff4df0b68">Saima Sharif</option>
    <option value="647ed3da1b63ce35bcec567c">Muhammad Usman Khalid</option>
    <option value="647ed80adbe7476ec8c7a579">Ashar Ishaq</option>
    <option value="647ed894877aab731899d529">Narmeen</option>
    <option value="647ed90c07febf72f8e1b387">Umair Ahsan</option>
    <option value="647eda01779f4b1ba8c77d6b">Safdar Iqbal</option>
    <option value="647edef87b3ade5f5cf8c23f">Farrukh Ayyaz</option>
    <option value="647ee8f7bd9ea132947531c3">Bilal Khalid</option>
    <option value="647eea918e8ceb4048afdbfa">Syed Haider Hussain</option>
    <option value="647eebcb0c97646c5ca296c0">Hafiz Muhammad Bilal</option>
    <option value="64800bd451bb87120c5d6581">Mehtab Ismail</option>
    <option value="64800c4451bb87120c5d65fb">Hanzila Javeed</option>
    <option value="64800cb551bb87120c5d6660">Sohail Amjad</option>
    <option value="64800d4351bb87120c5d66d7">Muhammad Bilal Qureshi</option>
    <option value="64800d8c51bb87120c5d6709">Mussadiq Ali</option>
    <option value="64800e1351bb87120c5d67c7">Fahad Mehmood</option>
    <option value="64800eac51bb87120c5d6861">Ali Jaun</option>
    <option value="648027af83057330e42aed70">Taha Nasir</option>
    <option value="648027fa83057330e42aedc5">Salman Ahmad</option>
    <option value="6480289183057330e42aeeae">Naveed Khalid</option>
    <option value="64812d55ee9910b0d4dd1920">Adam Hyatt</option>
    <option value="64868b37ed78e3ff968a4a7c">Muhammad Yousaf</option>
    <option value="64868bf7ed78e3ff968a4c58">Qaiser Shuja</option>
    <option value="64868c70ed78e3ff968a4d1c">Shehzad Mehmood</option>
    <option value="64868d44ed78e3ff968a4e4f">Ali Raza</option>
    <option value="64868da2ed78e3ff968a4eea">Muhammad Umar Waqas</option>
    <option value="64868defed78e3ff968a4f71">Tayyab Aleem</option>
    <option value="64868e7bed78e3ff968a504a">Mohtasham Ahmad</option>
    <option value="64868ed1ed78e3ff968a50e5">Muhammad Arslan Akmal</option>
    <option value="648a9af4b9a79ede8b34af3c">Tahira Sadia</option>
</select>

<select class="form-control">
    <option value="647598692d195175883a88e0">Chief Executive Officer</option>
    <option value="647598ae2d195175883a88ec">General Manager</option>
    <option value="647598c22d195175883a88f8">Human Resource Manager</option>
    <option value="647598d62d195175883a8904">Web Development Manager</option>
    <option value="647598e52d195175883a8910">Mobile Development Manager</option>
    <option value="647598f42d195175883a891c">Wordpress Manager</option>
    <option value="647599052d195175883a8928">Quality Assurance Manager</option>
    <option value="647599172d195175883a8934">Team Lead</option>
    <option value="647599662d195175883a8940">Frontend Developer</option>
    <option value="647599742d195175883a894c">Backend Developer</option>
    <option value="647599812d195175883a8958">Designer</option>
    <option value="6475998f2d195175883a8964">Quality Assurance</option>
    <option value="647599a22d195175883a8970">React-native Developer</option>
    <option value="64759f6df0ba2822a8e669a5">Chief Technology Officer</option>
    <option value="647ed9a7779f4b1ba8c77cfe">Sr. PHP WordPress Developer </option>
    <option value="647ee8b78885f57024335f5c">Full Stack Developer</option>
    <option value="64800e6e51bb87120c5d6823">WordPress Developer</option>
    <option value="64800f3251bb87120c5d68c9">Jr. NodeJS Developer</option>
    <option value="64800f4f51bb87120c5d68db">Senior Software Engineer .NET</option>
    <option value="64800f7151bb87120c5d68ed">Senior WordPress Developer</option>
    <option value="64800f8451bb87120c5d68ff">Software Engineer</option>
    <option value="64800f9351bb87120c5d690b">Jr. WordPress Developer</option>
    <option value="6493d129349dc9c4deff16b7">Project Manager</option>
</select>